XML/product.dtd

<!DOCTYPE product [

<!ELEMENT shop (product*)>
<!ELEMENT product (name, sizes+, description, price)>
<!ATTLIST product code CDATA #IMPLIED>
<!ELEMENT name (#PCDATA)
<!ELEMENT size (#PCDATA)
<!ELEMENT description (#PCDATA)
<!ELEMENT price (#PCDATA)

]>

|| I've added size and code to product
|| I've removed currency